body{
  margin: 12px;
  min-width: 80%;
  max-width: 90%;
  min-height: 80%;
  max-height: 90%;
  margin: auto;
}
img{
  float: left;
  margin: 20px;
  width: 190px;
  height: 190px;
}
form{
  text-align: center;
}
h1{
  float: left;
  width: inherit;
  margin-bottom: 190px;
}
input#email{
  margin: auto;
  width: 70%;
  display: block;
  margin-top: 4px;
  border: 2px green solid;
  padding: 7px;
}
input[type="submit"]{
  border: green 2px solid;
  position: fixed;
  bottom: 1%;
  right: 5%;
  font-size: 16pt;
  background: white;

}
